html {
    height: 100%;
}
body {
    font-family: "Courier New", monospace;
    height: 97%;
//    background-color: black;
}
#gameboard {
    width: 1150px;
    height: 675px;
    border: solid lightgray 1px;
    //border: solid lawngreen 1px;
    margin: auto;
}
#map-panel {
    width: 700px;
    height: 673px;
    //border: solid lightgray 1px;
    float: left;
}
#map-view {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-top: 15px;
//border: solid lightgray 1px;
//    border: solid lawngreen 1px;
}
#p1-view {
    border: solid lightgray 1px;
    height: auto;
    width: auto;
    display: table;
    margin: auto;
    border-collapse: collapse;
}
.map-square {
    width: 19px;
    height: 18px;
    border: solid lightgray 1px;
    display: table-cell;
    float: left;
    margin: 0;
}
.map-square:hover {
    background-color: black;
}
.map-row {
    width: auto;
    height: 18px;
    margin-left: auto;
    margin-right: auto;
}
#player-panel {
    width: 440px;
    height: 673px;
    float: right;
//border: solid lightgray 1px;
//    border: solid lawngreen 1px;
}
#fire-view {
    height: 75px;
    width: 90%;
    margin: auto;
    margin-top: 15px;
    text-align: center;
    font-size: 70px;
    border: solid lightgray 1px;
    //color: white;
    //border: solid red 1px;
    //background-color: red;
}
#fleet-view {
    height: 275px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border: solid lightgray 1px;
//    border: solid lawngreen 1px;
}
#ship-view, #command-view {
    height: 240px;
    width: 49%;
    margin: auto;
    margin-top: 30px;
//    border: solid lightgray 1px;
}
#ship-view {
    float: left;
}
.ship, .command {
    width: 90%;
    margin: 12px auto 0px auto;
    border: solid lightgray 1px;
}
.ship {
    height: 33px;
}
#command-view {
    float: right;
}
.command {
    height: 45px;
}
#output-view {
    height: 246px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border: solid lightgray 1px;
//    border: solid lawngreen 1px;
}

