html {
    height: 100%;
}
body {
    font-family: "Courier New", monospace;
    height: 97%;
    background-color: black;
}
h2 {
    height: 33px;
}
h2, h3, h4 {
    text-align: center;
}

p, .cli_msg, .command, .ship-sunk, h4 {
    cursor: default;
}
p, .cli_msg {
    margin-left: 10px;
    margin-right: 10px;
}
#gameboard, #p1-view, #fire-view, #fleet-view, #ship-view, #command-view, #output-view, .top, h2, h3, h4 {
    margin: auto;
}
#gameboard, #p1-view, .map-square, .fire-standby, .fire-ready, #fleet-view,
    .ship-button, .command, #output-view, #output-view, #output-header, .ship-sunk {
     border: solid lawngreen 1px;
}
#gameboard {
    width: 1150px;
    height: 675px;
}
#map-panel, .map-square, #ship-view, .bottom {
    float: left;
}
#map-panel, #player-panel {
    height: 673px;
}
#map-panel {
    width: 700px;
}
#map-view, #p1-view, .map-row {
    width: auto;
}
#map-view, #p1-view {
    height: auto;
}
#map-view, .map-row {
    margin-left: auto;
}
#map-view, #fire-view {
    margin-top: 15px;
}
#p1-view {
    display: table;
    border-collapse: collapse;
}
.map-square, .map-row {
    height: 18px;
}
.map-square {
    width: 19px;
}
.map-row {
    margin-right: auto;
}
#player-panel, #command-view {
    float: right;
}
#player-panel {
    width: 440px;
}
#fire-view, #fleet-view, #output-view, .ship-button, .ship-sunk {
    width: 90%;
}
#fire-view {
    height: 75px;
    text-align: center;
    font-size: 70px;
}
.fire-standby, h2, .ship-button, .ship-sunk, #output-view, .map-square:hover, .map-square-selected,
.command-button-active:hover, .ship-sunk {
    color: lawngreen;
}
.command-button-active, .ship-button, .fire-ready:hover, .fire-ready, .fire-ready > h4, .map-square {
    cursor: pointer;
}
.fire-ready:hover, .fire-ready {
    color: white;
}
.fire-ready:hover {
    border: solid red 1px;
}
#fleet-view, #output-view {
    margin-top: 20px;
}
#fleet-view {
    height: 275px;
}
#ship-view, #command-view {
    height: 240px;
    width: 49%;
    //margin-top: 30px;
}
.ship-button, .ship-sunk{
    margin: 12px auto 0 auto;
    height: 33px;
}
.command {
    height: 45px;
    width: 45px;
}
.bottom {
    margin: 14px 8px 0 9px;
}
.top {
    margin-top: 50px;
}
#output-view {
    height: 246px;
    overflow-y: auto;
}
.visible-water {
    background-color: blue;
}
.friendly, .ship-button-selected, .ship-button-selected > h2, .ship-button:hover > h2, .command-button-active {
    background-color: lawngreen;
    color: black;
}
.visible-enemy {
    background-color: orange;
}
.map-square:hover, .map-square-selected, .command-button-active:hover {
    background-color: white;
}
.miss {
    background-color: purple;
}
.hit, .ship-sunk .fire-ready:hover, .fire-ready, .ship-sunk {
    background-color: red;
}