#map_panel {
    width: 60%;
    float: left;
}

#map_view {
    height: 800px;
}

#cli_panel {
    width: 40%;
    height: 800px;
    float: right;
    position: relative;
}

#p1_cli_panel {
    height: 800px;
    position: relative;
}

#p1_cli_input {
    width: 100%;
}

#p1_cli_output {
    position: relative;
    height: 80%;
    overflow: auto;
}
